/* #01041c (dark navy blue), #5b5b5b (grey), #1919ad (blue), #ffffff (white) */

.wrapper {
    text-align: center;
    /* margin-left: 25%; */
    margin-top: 0;
    background-color: #000000;
}

body, p {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    padding-top: 48px;
}

h1, h2, h3, .heading {
    font-family: "Faster One", system-ui;
    font-weight: 400;
}

.heading {
    font-size: 4vh;
    font-family: "Faster One", system-ui;
    font-weight: 400;
}

/* Styles for buy links */
a.buy-link {
    display: inline-block;
    padding: 10px 25px;
    background-color: #1919ad;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    transition: all .2s;
}

/* Hover effect for buy links */
a.buy-link:hover{
    background: #000000;
    color: darkgray;
}

/* Active effect for buy links */
.tshirt-gallery {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

h2.underline {
    text-decoration: underline;
}

.pattern {
    width: 150px;
    display: block;
    margin: 0 auto 16px;
}

.tour-btn{
    display: inline-block;
    padding: 10px 25px;
    background-color: #5b5b5b;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    transition: all .2s;
}

.tour-btn:hover{
    background: #000000;
    color: darkgray;
}

.tour-btn:active{
    background: #000000;
    color: #fff;
}

.glow-pulse {
    border: 4px solid #ffffff;
    padding: 4px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 0 18px 4px #ffffff;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    from { box-shadow: 0 0 5px #ffffff}
    to { box-shadow: 0 0 20px #d3d3d3 }
    
}

.faster-one-regular {
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Light theme*/
html, body, .wrapper, .footer, .w3-bar {
    transition: background-color .25s, color .25s;
}

body.light {
    color: #111;
    background: #f6f8ff;
    background-image: none;
}

body.light .wrapper {
    background-color: #ffffff;
    color: inherit;
}

body.light .footer {
    background-color: #e9e9e9;
    color: #111
}

body.light  .w3-bar.w3-black {
    background-color: #e5e7eb !important;
    color: #111 !important
}

.navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #ffffff;
    float: left;
}

.navList a {
    display: block;
    padding: 2em;
    text-decoration: none;
}

.navList a.active {
    background-color: #01041c;
    color: #ffffff;
}

.navList a:hover:not(.active) {
    background-color: #01041c;
    color: #ffffff;
}

.fa:link {
    color: #1919ad;
    text-decoration: none;
}

.fa:visited {
    color: #000000;
    text-decoration: none;
}

.fa:hover {
    color: #ffffff;
}

.fa:active {
    color: red;
}

.nobullet {
    list-style-type: none;
    padding-left: 1em;
}

#listItalic {
    font-style: italic;
}

.headingLeft {
    text-align: left;
    padding-left: 1em;
}

.gif {
    max-width: 100%;
    height: auto;
}

.headingRight {
    text-align: right;
    float: right;
    padding-right: 0.5em;
}

table {
    clear: right;
}

th, td {
    padding-left: 15em;
    padding-bottom: 1em;
}

.footer {
    background-color: #5b5b5b;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
}

@media screen and (max-width: 800px) {
    nav { 
        overflow: hidden;
        background-color: #fff;
    }

    .navMenu {
        clear:left;
        width: 100%;
    }

    .navList {
        float: left;
    }

    .navList a {
        text-align: center;
        display: block;
        padding: 1em;
        font-size: 2vh;
        text-decoration: none;
    }

    .wrapper {
        margin-left: 0;
    }

}

@media print {
    nav, .navMenu {
        display: none;
    }

    .wrapper {
        margin-left: 0;
        width: 100%;
    }
    /* Removes navigation bar and centers content when printing */
}
